# Auto detect text files and perform LF normalization
* text=auto
server/words/korp_vectors.csv filter=lfs diff=lfs merge=lfs -text
server/wordfiles/vocab.bin filter=lfs diff=lfs merge=lfs -text
server/wordfiles/vocab_query.bin filter=lfs diff=lfs merge=lfs -text
preprocessing/model/*bin filter=lfs diff=lfs merge=lfs -text
